<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.excel.service.impl.ExcelMapper">

	<insert id="insertExcelMap" parameterType="map">
		INSERT INTO excel
		(
			name,
			age,
			school
		)
		
		VALUES
		(
			#{A},
			#{B},
			#{C}
		)
	</insert>
	
	<insert id="insertExcelVO" parameterType="egovframework.example.excel.service.ExcelVO">
		INSERT INTO excel
		(
			name,
			age,
			avg,
			school,
			class_num,
			family
		)
		
		VALUES
		(
			#{name},
			#{age},
			#{avg},
			#{school},
			#{classNum},
			#{family}
		)
	</insert>
	
	<select id="selectExcel" resultType="java.util.LinkedHashMap">
		SELECT 	name,
				age,
				avg,
				school,
				class_num,
				family
		  from  excel		
	</select>
</mapper>